/* HIDE SIDEBAR */

/* div.AOL3Kb {
    display: block !important;
} 
body > div.TOTjfb > div.AOL3Kb {
    -webkit-transform: translateX(-250px);
    -webkit-transition: -webkit-transform 250ms ease 1s;
}
body > div.TOTjfb > div.AOL3Kb+* {
    margin-left: -250px;
    -webkit-transition: margin-left 250ms ease 1s;
}
body > div.TOTjfb > div.AOL3Kb:active,
body > div.TOTjfb > div.AOL3Kb:hover,
body > div.TOTjfb > div.AOL3Kb:focus,
body > div.TOTjfb > div.AOL3Kb:target {
    -webkit-transform: translateX(0px);
    -webkit-transition-delay: 0s;
}
body > div.TOTjfb > div.AOL3Kb:active+*,
body > div.TOTjfb > div.AOL3Kb:hover+*,
body > div.TOTjfb > div.AOL3Kb:focus+*,
body > div.TOTjfb > div.AOL3Kb:target+* {
    margin-left: 0px;
    -webkit-transition-delay: 0s;
} */

/* DARK THEME */

/* html:not(img) {
    -webkit-filter: invert(90%) hue-rotate(180deg) !important;
    filter: invert(90%) hue-rotate(180deg)!important;
    background: rgb(25, 25, 25)!important;
}
#onegoogbar a[href^="https://accounts.google.com"]:not(img),
#onegoogbar a[href="javascript:_SR_backToCalendar();"]:not(img) {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
} */

/* background color of reminders */

/* .st-c-pos {
    filter: saturate(70%)!important;
    filter: brightness(100%)!important;
} */

/* text color of reminders in month view */

.rb-ni {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
}

/* text color of reminders in week view*/

.cpchip {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
}

/* text color of time in reminders in week view*/

.chip-caption {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
}

/* text color of date above the calendar */

.date-top {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
}

/* text color of date when left-clicked on a reminder */

.neb-date {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
}

/* text color of left sidebar */

.calListLabel, .calListLabel-sel, .calHeader, #dp_0_cur {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
}

/* text color of input text */

.gcal-textinput, .gcal-contenteditable-textinput.textarea, .gbqfif, .gbqfsf {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
}

/* text color when creating an event (small window) */

.tile-content, .tab-container, .tab-label {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
}

/* text color when creating an event (big window) */

/* .text,
.dr-date,
.dr-sep,
.ep-edr-second-line,
.ep-recl,
.ep-ts,
.ep-gp,
.ep-gs,
.ep-gs-ta,
.ep-dp-dt,
.ep-dp-calendar-sel,
.textinput .ui-sch {
    color: rgb(0, 0, 0)!important;
    text-shadow: 0px 0px #000000!important;
} */

/* text color of time menu (big window) */

/* .goog-control {
    color: rgb(37, 37, 37)!important;
    list-style: none!important;
    margin: 0!important;
    padding: 0 3em 0 1em!important;
    text-shadow: 0px 0px #000000!important;
    white-space: nowrap!important;
} */

/* reverse inversion of icons in the navigation bar */

/* .gb_zb,
.gbip,
.gb_2,
.gb_ab,
.gb_bb,
.jPtXgd {
    filter: invert(90%) hue-rotate(180deg)!important;
} */